/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Playfair+Display&family=Teko");
@import url("https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap");

/* Navigation */
header {
 background-image: linear-gradient(to bottom,  rgba(0,0,0,0.75) -200%,rgba(0,0,0,0) 75%) ;
 text-align: center;
 padding: 0px;
 font-size: 1.25rem;
}

header li a {
  display : inline-block;
	font-size: 1.2em;
	text-align: center;
	padding: 18px 16px;
}

li {
  display : inline-flex;
}

ul {
 list-style: none;
 margin: 0;
 padding: 0;
}

#index:hover , #about:hover , #jouer:hover , #score:hover, #histoire:hover{
	background-color: #E9F7EF;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

#index:hover a  , #about:hover a , #jouer:hover a , #score:hover a, #histoire:hover a{
	color: black;
}

/* Image de fond, gestion des textes */
body{
    background : url("Alcatraz2.jpg") fixed no-repeat top right;
    background-size : cover;
    font-family: 'Saira Extra Condensed', sans-serif;
    letter-spacing: 1px;
}

a {
 position: left;
 padding: 1rem 0 0.5rem;
 margin: 0 1.5rem;
 color: white;
 text-decoration: none;
 text-transform: uppercase;
}

h1 {
  font-size : 55px;
  font-family : "Bebas Neue";
  text-align: center;
  margin-bottom: 0;
}

h2 {
  font-size : 23px;
  font-family : "Playfair Display";
  text-align: center;
}

/* Affichage des règles */
.règle {
  display: inline-block;
  font-family: "Slabo";
  font-size: 19px;
  margin:0px 20px;
  text-indent: 40px;
  width: 260px;
  text-align: justify;
}

p{
  display: inline-flex;
}

/* Boutton jouer*/
.boutton a{
  /* display:block; */
  position: absolute;
  left : 42%;
  top : 80%;
  width:140px;
  font-size:50px;
  font-family : "Bebas Neue";
  color: white;
  line-height:25px;
  text-align:center;
  border: 3px solid whitesmoke;
}
.boutton a:hover {
  border : 4px solid black;
  color: black;
}
